          <li class="nav-item">
            <a class="nav-link" href="">Link</a>
          </li>
          <div class="dropdown">

            <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>


            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item {% block dropdown_item1 %}{% endblock %}" type="button">Home</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
          
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
<!-- This for dropdown and other stuff -->